<!DOCTYPE html>
<html ng-app='ToDoList'>
<head>
	<meta charset="utf-8">
	<title>My first page</title>
	<script type="text/javascript" src="../ang/angular.min.js"></script>
	<script src="angular-local-storage.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="ToDoController">
	<ul>
		<li ng-repeat="activity in todo">
             {{activity.description}}-
             {{activity.date | date: 'short' }}
		</li>
	</ul>	
	<form ng-submit="addActv()">
		<input type="text" ng-model="newActv.description">
		<input type="datetime-local" ng-model="newActv.date">
		<input type="submit" value="save activity">
	</form>	
	<button ng-click="clean()">Limpiar</button>
</body>
</html>